@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-wrapper ul{
    display:flex !important;
    justify-content: center !important;
    }

    .drawer-side a.active {
        color: darkviolet;
      }
    .drawer-side a {
        background-color: transparent;
      }